@font-face {
    font-family: 'notoBold';
    src : url('NotoSansKR-Bold.otf');
}
@font-face {
    font-family: 'notoBlack';
    src : url('NotoSansKR-Black.otf');
}
@font-face {
    font-family: 'notoLight';
    src : url('NotoSansKR-Light.otf');
}
@font-face {
    font-family: 'notoMedium';
    src : url('NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'notoRegular';
    src : url('NotoSansKR-Regular.otf');
}
@font-face {
    font-family: 'notoThin';
    src : url('NotoSansKR-Thin.otf');
}